.gradle/
.idea/
build/
*.iml
Other/Video/
.gitignore~
readme.md~
local.properties
**/.DS_STORE
**/*.mp4
*.DS_STORE
*.mp4
**/gen
*~
.DS_Store
app/src/main/java/secrets.properties
app/src/main/java/com/klinker/android/twitter_l/APIKeys.java